.profile__info {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 879px) {
  .profile__info {
    margin-right: 0;
  }
}

@media screen and (max-width: 615px) {
  .profile__info {
    flex-direction: column;
    margin-bottom: 33px;
  }
}
