.form__item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 8px 0;
}

