.places__photo {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-position: center;
  object-fit: cover;
}

@media screen and (max-width: 615px) {
  .places__photo {
    max-width: 350px;
    max-height: 350px;
    width: 100%;
  }
}
