@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__heading/profile__heading.css);
@import url(./blocks/profile/__main-photo/profile__main-photo.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__addbutton/profile__addbutton.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-button-avatar/profile__edit-button-avatar.css);
@import url(./blocks/places/places.css);
@import url(./blocks/places/__element/places__element.css);
@import url(./blocks/places/__photo-cards/places__photo-cards.css);
@import url(./blocks/places/__card/places__card.css);
@import url(./blocks/places/__button-like/places__button-like.css);
@import url(./blocks/places/__card-delete/places__card-delete.css);
@import url(./blocks/places/__button-like/_active/places__button-like_active.css);
@import url(./blocks/places/__card-name/places__card-name.css);
@import url(./blocks/places/__photo/places__photo.css);
@import url(./blocks/places/__like-counter/places__like-counter.css);
@import url(./blocks/places/__like/places__like.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container-photo/popup__container-photo.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__card-photo/popup__card-photo.css);
@import url(./blocks/popup/__card-location/popup__card-location.css);
@import url(./blocks/popup/__card-fullscreen/popup__card-fullscreen.css);
@import url(./blocks/popup/_cardfullscreen/popup_cardfullscreen.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input-container/form__input-container.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/form/__item/_type/form__item_type_error.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__submit/_disabled/form__submit_disabled.css);
@import url(./blocks/form/__submit-confirm/form__submit-confirm.css);



@import url(./blocks/auth/auth__container.css);