.header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.header__line {
   /* display: block; */
   content: ' ';
   border-bottom: 1px solid #545454;
   opacity: .7;
}


.auth {
  display: flex;
}

.statusauth {
  margin-left: 24px;
}

.auth_button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
}

.auth_button:nth-last-child(1n) {
  margin-left: 24px;
}