.popup__container-photo {
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
  }

  /* @media screen and (max-width: 615px) {
    .popup__container {
      width: 282px;
      padding: 25px 22px;
    }
  } */


